RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^/?(.+)$ index.php?url=$1 [QSA,L]

ErrorDocument 403 http://localhost/luke/system/Errors/403.php
ErrorDocument 404 http://localhost/luke/system/Errors/404.php

Options -Indexes
